<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/index.css">

  <title>
    <%= locals.title %>
  </title>
</head>

<body>
  <h1>
    <%= locals.title %>
  </h1>

  <form action="/new" method="POST">
    <label for="example-text">Example: </label>
    <input type="text" name="example_text" id="example-text">
    <button type="submit">Create</button>
  </form>
</body>

</html>
