section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  padding: 1rem 2rem;
  padding-bottom: 2rem;

  color: #6c757d;

  & > a {
    background-color: #f8f9fa;
    padding: 1rem;
    width: 240px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    cursor: pointer;

    & > p:first-of-type {
      max-width: 100%;
      background-color: #dee2e6;
      padding: 0.5rem;
      border-radius: 5px;

      position: relative;

      line-height: 1.5;
      font-size: 0.95rem;
      text-align: center;

      & > svg {
        width: 1.2rem;
        height: 1.2rem;
        stroke: #adb5bd;

        flex-shrink: 0;

        position: absolute;
        top: -0.5rem;
        left: -0.5rem;
      }
    }

    & > div {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      & > p {
        border: 1px dashed #adb5bd;
        width: fit-content;
        padding: 0.3rem 0.6rem;
        border-radius: 5px;

        font-size: 0.85rem;
      }
    }

    & > p:last-of-type {
      font-size: 0.8rem;
      text-align: center;
    }
  }

  & > a:hover {
    transform: translateY(-0.3rem);
    transition: transform 0.2s;
  }
}
