aside {
  padding: 1rem;

  flex-shrink: 0;
  flex-basis: 300px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & > h1 {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    color: #343a40;
    font-size: 1.8rem;

    margin-top: 0.5rem;
    margin-bottom: 1.6rem;
    margin-left: 0.5rem;

    & > svg:first-of-type {
      width: 2.5rem;
      height: 2.5rem;
      stroke-width: 3;

      transform: translateY(10%) rotateZ(45deg) scaleY(0.7);
    }

    & > svg:last-of-type {
      width: 1.6rem;
      height: 1.6rem;
      stroke: #adb5bd;

      transform: translateX(2rem);

      cursor: pointer;
    }
  }

  & > div {
    margin-right: 1.5rem;
    margin-left: 1rem;

    & > p {
      font-size: 1rem;
      font-weight: normal;

      padding: 0.6rem 0.8rem;
      border-radius: 5px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      & > span {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > svg {
          width: 1.2rem;
          height: 1.2rem;
          stroke: #6c757d;
        }
      }

      & > svg {
        width: 1.2rem;
        height: 1.2rem;
        stroke: #6c757d;
      }
    }

    & > p:hover {
      background-color: #e9ecef;
      cursor: pointer;

      transition: background-color 0.4s;
    }

    & > ul {
      padding-top: 0.4rem;
      padding-left: 1rem;
      margin-bottom: 0.5rem;

      display: flex;
      flex-direction: column;

      & > li:not(:last-of-type) {
        border-bottom: 1px dashed #ced4da;
        padding: 0.6rem;
      }

      & > li {
        padding-top: 0.6rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;

        & > a {
          display: flex;
          gap: 0.7rem;
          align-items: center;

          & > svg {
            width: 1.2rem;
            height: 1.2rem;
            stroke: #6c757d;
          }
        }

        & > a:hover {
          & > svg {
            stroke: #000;
          }
        }
      }
    }
  }

  & > div:first-of-type {
    & > a {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      padding: 0.6rem 0.8rem;
      border-radius: 5px;

      & > svg {
        width: 1.2rem;
        height: 1.2rem;
        stroke: #6c757d;
      }
    }

    & > a:hover {
      background-color: #e9ecef;

      transition: background-color 0.4s;
    }
  }
}

@keyframes opening {
  0% {
    transform-origin: top;
    transform: scaleY(0);
    display: none;
  }

  100% {
    transform-origin: top;
    transform: scaleY(1);
    display: flex;
  }
}

@keyframes rotate-open {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(180deg);
  }
}

.rotate-box {
  animation: rotate-open 0.2s forwards;
}

.opening-box {
  animation: opening 0.1s;
}

.closing-box {
  display: none;
}

.selected-tab {
  background-color: #e9ecef;
}

.selected {
  & > svg {
    stroke: #000;
  }
}
